<div class="container mt-5">
  <div class="row">
    <div class="row">
      <h3 class="text-center">Главная страница</h3>
    </div>
    <div class="row mt-2">
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc orci
        magna, finibus at laoreet eget, fermentum in est. Sed ac ex eros. Mauris
        magna ex, convallis eu dignissim sit amet, sodales vel nibh. Etiam
        consectetur scelerisque massa. Proin id ultricies mi, quis ornare diam.
        Duis a facilisis nibh, eget finibus lorem. Sed auctor metus quis varius
        dapibus. Fusce nunc magna, feugiat ut massa quis, maximus pulvinar
        neque.<br />

        Nam porttitor sem id volutpat cursus. Cras eget lacus nisl. Donec sed
        odio condimentum, hendrerit dui non, tempus quam. Phasellus vel nisi in
        libero feugiat vulputate. Sed sollicitudin rutrum gravida. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae; Morbi leo libero, pellentesque in euismod sollicitudin, facilisis
        sit amet erat. Curabitur blandit ex lorem, id fringilla sapien maximus
        ut. Praesent porta in mi a consequat.<br />

        Pellentesque non rhoncus arcu, id molestie ipsum. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Integer nec vestibulum mi, non elementum eros. Pellentesque id tortor
        ornare, ornare nibh non, laoreet dui. Nam pharetra, risus feugiat
        condimentum cursus, enim dolor lobortis sapien, ac sagittis ante sapien
        et dolor. Pellentesque congue molestie mi et tristique. Ut fringilla
        nibh eget neque commodo, in dictum ante volutpat. Nunc faucibus nibh
        magna, quis aliquet dui varius eget. Aenean neque dolor, dictum
        ultricies lectus at, elementum luctus tellus. Quisque rutrum iaculis
        mauris sed accumsan. Quisque ornare aliquam neque et venenatis. Sed
        ullamcorper tortor dignissim, fermentum sem sit amet, vehicula elit.
        Donec sed ligula egestas, consequat nulla eu, pharetra lectus. Maecenas
        malesuada vehicula volutpat. Phasellus tincidunt sem ac ultricies
        faucibus. Mauris eu tortor nisi.<br />

        Etiam id lectus eu dolor bibendum accumsan. Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum
        tincidunt venenatis auctor. Vivamus turpis tortor, eleifend et ornare
        ut, pharetra in nulla. Sed porta enim in felis ornare, ut viverra metus
        ornare. Donec tempus, ex in accumsan rutrum, enim libero venenatis ante,
        eget auctor ex augue a odio. Pellentesque bibendum mi ut erat laoreet,
        nec ornare est sodales. Mauris tincidunt ligula in dignissim interdum.
        Nulla id velit mi. Aenean ut varius tortor, nec imperdiet sem.<br />

        Quisque ac tortor nec erat consequat efficitur. Donec elementum in erat
        eget finibus. Nulla facilisi. Donec luctus et dolor et faucibus.
        Vestibulum turpis eros, semper vitae gravida et, lobortis eget nulla.
        Praesent vitae venenatis erat. Aliquam eget neque in nibh mollis
        efficitur eget eleifend felis. Fusce elementum arcu sem, condimentum
        facilisis nulla posuere ac. Sed sed justo finibus, hendrerit metus sed,
        venenatis sapien. Nulla facilisi. Integer mollis pellentesque mi,
        eleifend vulputate quam gravida et. Sed vulputate posuere hendrerit.
        Quisque hendrerit dui nulla, hendrerit efficitur dolor auctor non.<br />
      </p>
    </div>
  </div>
</div>
