<div class="container">
  <div [formGroup]="itemForm" class="border border-dark rounded p-3 mt-3 mb-3">
    <input type="hidden" formControlName="id" value="" />
    <div>
      <label for="exampleInputEmail1" class="form-label">Название</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Артикул</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="article"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Цена</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="cost"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Производитель</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="maker"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Категория</label>
      <select
        class="form-select"
        formControlName="category"
        aria-label="Default select example"
      >
        <option value="Мебель">Мебель</option>
        <option value="Техника">Техника</option>
        <option value="Книги">Книги</option>
        <option value="Телефоны">Телефоны</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Вес</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="weight"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Количество на складе</label
      >
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="amount"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="toItemsPage()">
      Назад
    </button>
    <button
      type="submit"
      class="btn btn-danger ms-3"
      (click)="deleteItemData()"
    >
      Удалить
    </button>
    <button
      type="submit"
      class="btn btn-warning ms-3"
      [disabled]="!itemForm.valid"
      (click)="editItemData()"
    >
      Изменить
    </button>
  </div>
</div>
