<div class="accordion fixed-bottom" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Меню
      </button>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <button
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            type="button"
            class="container-fluid btn btn-success rounded-0"
          >
            Добавить
          </button>
        </div>
      </div>
    </h2>
  </div>
</div>
